_wandb:
    value:
        cli_version: 0.23.0
        code_path: source-Sudoku-extreme-1k-aug-1000-ACT-torch-pretrain.py
        e:
            g84lc5ba0inobfrwglevyetuowz7rirh:
                args:
                    - arch=trm
                    - data_paths=[data/sudoku-extreme-1k-aug-1000]
                    - evaluators=[]
                    - epochs=50000
                    - eval_interval=5000
                    - lr=1e-4
                    - puzzle_emb_lr=1e-4
                    - weight_decay=1.0
                    - puzzle_emb_weight_decay=1.0
                    - arch.mlp_t=True
                    - arch.pos_encodings=none
                    - arch.L_layers=2
                    - arch.H_cycles=3
                    - arch.L_cycles=6
                    - +run_name=pretrain_mlp_t_sudoku
                    - ema=True
                codePath: pretrain.py
                codePathLocal: pretrain.py
                email: zakaria.narjis.97@gmail.com
                executable: /home/zakarianarjis/miniconda3/envs/trm/bin/python
                git:
                    commit: e7b68717f0a6c4cbb4ce6fbef787b14f42083bd9
                    remote: git@github.com:zakaria-narjis/TinyRecursiveModels.git
                host: pc50.inb.uni-luebeck.de
                os: Linux-6.8.0-87-generic-x86_64-with-glibc2.39
                program: /home/zakarianarjis/workspace/TinyRecursiveModels/pretrain.py
                python: CPython 3.11.14
                root: /home/zakarianarjis/workspace/TinyRecursiveModels
                startedAt: "2025-11-16T00:23:09.429377Z"
                writerId: g84lc5ba0inobfrwglevyetuowz7rirh
        m: []
        python_version: 3.11.14
        t:
            "1":
                - 1
                - 50
            "2":
                - 1
                - 50
            "3":
                - 2
                - 13
                - 16
                - 61
            "4": 3.11.14
            "5": 0.23.0
            "12": 0.23.0
            "13": linux-x86_64
arch:
    value:
        H_cycles: 3
        H_layers: 0
        L_cycles: 6
        L_layers: 2
        expansion: 4
        forward_dtype: bfloat16
        halt_exploration_prob: 0.1
        halt_max_steps: 16
        hidden_size: 512
        loss:
            loss_type: stablemax_cross_entropy
            name: losses@ACTLossHead
        mlp_t: true
        name: recursive_reasoning.trm@TinyRecursiveReasoningModel_ACTV1
        no_ACT_continue: true
        num_heads: 8
        pos_encodings: none
        puzzle_emb_len: 16
        puzzle_emb_ndim: 512
beta1:
    value: 0.9
beta2:
    value: 0.95
checkpoint_every_eval:
    value: true
checkpoint_path:
    value: checkpoints/Sudoku-extreme-1k-aug-1000-ACT-torch/pretrain_mlp_t_sudoku
data_paths:
    value:
        - data/sudoku-extreme-1k-aug-1000
data_paths_test:
    value: []
ema:
    value: true
ema_rate:
    value: 0.999
epochs:
    value: 50000
eval_interval:
    value: 5000
eval_save_outputs:
    value: []
evaluators:
    value: []
freeze_weights:
    value: false
global_batch_size:
    value: 768
load_checkpoint:
    value: null
lr:
    value: 0.0001
lr_min_ratio:
    value: 1
lr_warmup_steps:
    value: 2000
min_eval_interval:
    value: 0
project_name:
    value: Sudoku-extreme-1k-aug-1000-ACT-torch
puzzle_emb_lr:
    value: 0.0001
puzzle_emb_weight_decay:
    value: 1
run_name:
    value: pretrain_mlp_t_sudoku
seed:
    value: 0
weight_decay:
    value: 1
